data_root_dir=/storage/datasets/VCTK/VCTK-Corpus
h5py_path=/storage/feature/voice_conversion/vctk_old/data.h5
index_path=/storage/feature/voice_conversion/vctk_old/index.json
train_proportion=0.9
n_samples=500000
seg_len=128
speaker_used_path=/storage/feature/voice_conversion/vctk_old/en_speaker_used.txt
